root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts}]
max_line_length = 120

[*.java]
ij_java_imports_layout = $*,|,*
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*Test.java]
max_line_length = off

[*.{yml,yaml,toml}]
indent_size = 2

[*.{json,http}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf
